# autotools stuff
Makefile
Makefile.in
stamp-h1
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/lt*.m4
/missing
/revision
/ylwrap
/test-driver

# Misc.
/cf_promises_*

# vim
.*.sw[po]
