cf_promises_*

# acceptance tests
tests/acceptance/*.log
tests/acceptance/testall.env
tests/acceptance/.succeeded
tests/acceptance/workdir
tests/acceptance/mock-package-manager
tests/acceptance/mock-package-manager.exe
tests/acceptance/xml-c14nize
tests/acceptance//xml-c14nize.exe
tests/acceptance/dnswrapper.so
tests/*/*.xml
tests/*/xml.tmp
tests/*/xml_tmp_*
tests/*/*.trs

# copied from core
tests/acceptance/*.cf.sub

# ignore vim dotfiles
.*.sw[po]
