# autotools stuff
Makefile
Makefile.in
stamp-h1
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.cache
/config.log
/config.status
/config.sub
/configure
/controls/update_def.cf
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/lt*.m4
/missing
/promises.cf
/standalone_self_upgrade.cf
/revision
/ylwrap
/test-driver
CFVERSION
CFRELEASE

# Misc.
/cf_promises_*
modules/packages/apt_get
modules/packages/yum
modules/packages/zypper

# tests
tests/acceptance/30_custom_promise_types/__pycache__/
tests/acceptance/30_custom_promise_types/cfengine.py
tests/unit/test-suite.log
tests/unit/test_package_module_apt_get.log
tests/unit/test_package_module_yum.log

# vim
.*.sw[po]

# Atom-IDE
.ropeproject
build

# Emacs
.*\.~undo-tree~
flycheck_*
