Mike Weilgart <mikeweilgart@gmail.com> mikeweilgart <mikeweilgart@gmail.com>
Michael V. Pelletier <mvpel@yahoo.com>
Mike Weilgart <mikeweilgart@gmail.com> <mweilgart@directv.com>
Steven Kreuzer <skreuzer@FreeBSD.org> <steven@FreeBSD.org>
Steven Kreuzer <skreuzer@FreeBSD.org> <steven@hudson-trading.com> <skreuzer@freebsd.org>
Steven Kreuzer <skreuzer@FreeBSD.org> <skreuzer@freebsd.org>
Kristian Amlie <kristian.amlie@northern.tech> kacfengine <kristian.amlie@cfengine.com>
Kristian Amlie <kristian.amlie@northern.tech> <kristian.amlie@cfengine.com>
Maciej Patucha <maciej.patucha@cfengine.com> maciejpatucha <maciej.patucha@cfengine.com>
Maciej Mrowiec <maciej.mrowiec@cfengine.com> maciejmrowiec <maciej.mrowiec@cfengine.com>
Maciej Mrowiec <maciej.mrowiec@cfengine.com> <mrowiec.maciej@gmail.com>
Eystein Måløy Stenberg <eystein.maloy.stenberg@cfengine.com> <eystein@cfengine.com>
Eystein Måløy Stenberg <eystein.maloy.stenberg@cfengine.com> <estenberg@users.noreply.github.com>
Marcin Pasinski <marcin.pasinski@cfengine.com> pasinskim <marcin.pasinski@cfengine.com>
Marcin Pasinski <marcin.pasinski@cfengine.com> pasinskim <pasinskim@users.noreply.github.com>
Phil Jaenke <prj@rootwyrm.com> Phillip R. Jaenke <prj@rootwyrm.com>
Aleksei Shpakovskii <aleksei.shpakovskii@cfengine.com> <alexey+github@shpakovsky.ru>
Sigurd Teigen <sigurd.teigen@cfengine.com> <sigurd.teigen@gmail.com>
Neil Watson <neil@watson-wilson.ca> Neil Watson <neil@ettin.watson-wilson.ca>
Neil Watson <neil@watson-wilson.ca> Neil H Watson <neil@watson-wilson.ca>
Diego Zamboni <diego@zzamboni.org> Diego Zamboni <diego.zamboni@cfengine.com>
Sudhir Pandey <sudhir.pandey@cfengine.com> sudhirpandey <sudhir.pandey@cfengine.com>
Bishwa Shrestha <bishwa.shrestha@cfengine.com> Bishwa Shrestha <bishwa.shrestha@gmail.com>
Carlos Manuel Duclos Vergara <carlos.duclos@cfengine.com> Carlos Manuel Duclos Vergara (Senior QA Engineer) <carlos.duclos@cfengine.com>
