# remove the search_path settings because we want to stay in the newly created feeder schema
/SELECT pg_catalog.set_config('search_path', '', false);/d;

# Prevent setval() entries from being replayed on the superhub
# e.g., SELECT pg_catalog.setval('__promiselog_id_seq', 44075, true);
#/^SELECT pg_catalog.setval/d;
# NOTE: don't need this anymore since we will be calling setval on the local schema copy of things

# Remove public. schema prefix so that import can go into the current schema (feeder schema)
s/public\.//g;

# Remove CREATE TYPE blocks
/CREATE TYPE.*/,/^);$/d

# remove __promiselog related items so that __promiselog_* child tables inherit from
# public.__promiselog and are so included in that way.
/CREATE TABLE __promiselog.*/,/^);$/d
/CREATE SEQUENCE __promiselog_id_seq.*/,/^$/d
/ALTER SEQUENCE __promiselog_id_seq.*$/d
/ALTER TABLE ONLY __promiselog .*$/d
/ALTER TABLE ONLY __promiselog.*/,/__promiselog_pkey.*$/d
/SELECT pg_catalog.setval('__promiselog_id_seq.*$/d
/CREATE TRIGGER promise_log_partition_trigger.*$/d