Package: test-package-alpha
Version: 1.0-1
Section: custom
Priority: optional
Architecture: amd64
Multi-Arch: same
Essential: no
Installed-Size: 1024
Maintainer: cfengine.com
Description: Debian test package Alpha

