[Unit]
Description=CFEngine Enterprise Hub Report Collector
PartOf=cfengine3.service
ConditionPathExists={{{vars.sys.bindir}}}/cf-hub
ConditionPathExists={{{vars.sys.default_policy_path}}}
After=syslog.target
After=network.target

Wants=cf-postgres.service
After=cf-postgres.service

[Service]
Type=simple
ExecStart={{{vars.sys.bindir}}}/cf-hub --no-fork
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
WantedBy=cfengine3.service
