[Unit]
Description=CFEngine Enterprise SQL Alerts
After=syslog.target
ConditionFileIsExecutable=/var/cfengine/bin/runalerts.sh
ConditionFileIsExecutable=/var/cfengine/httpd/php/bin/php

PartOf=cfengine3.service
After=cf-postgres.service
Requires=cf-postgres.service

[Service]
# We simply launch this script every 60 seconds to perform alert related checks
Type=simple
User=cfapache
ExecStart=/var/cfengine/bin/runalerts.sh
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
WantedBy=cfengine3.service
WantedBy=cf-postgres.service
