# Host Information
Generated: {{vars.sys.date}}

## Identity
Fully Qualified Hostname: {{vars.sys.fqhost}}
Host ID: {{vars.sys.key_digest}}

## CFEngine
Version: CFEngine {{#classes.enterprise}}Enterprise{{/classes.enterprise}} {{vars.sys.cf_version}}
Last Agent Run: {{vars.host_info_report_cfengine.last_agent_run}}
Policy Release ID: {{vars.host_info_report_cfengine.cf_promises_release_id.releaseId}}
Policy Last Updated: {{vars.host_info_report_cfengine.cf_promises_validated_timestamp_formatted}}
Bootstrapped to: {{vars.sys.policy_hub}}

## OS
Architecture: {{vars.sys.arch}}
Os: {{vars.sys.os}}
Release: {{vars.sys.release}}
Flavor: {{vars.sys.flavor}}
Version: {{vars.sys.version}}
Uptime: {{vars.sys.uptime}} minutes

## Hardware
No. CPUs: {{vars.sys.cpus}}
Total Memory: {{{vars.mon.value_mem_total}}} MB
Total Swap: {{{vars.mon.value_mem_swap}}} MB
Free Memory: {{{vars.mon.value_mem_free}}} MB
Free Swap: {{{vars.mon.value_mem_freeswap}}} MB

## Network

### Interfaces
{{#vars.host_info_report_cfengine.interface_info}}
  * {{.}}
{{/vars.host_info_report_cfengine.interface_info}}

{{! Redmine:4506 https://cfengine.com/dev/issues/4506 }}
### IPv4 TCP Ports listening
{{#vars.mon.listening_tcp4_ports}}
  * {{.}}
{{/vars.mon.listening_tcp4_ports}}

{{#classes.show_software}}
{{! Redmine:4507 https://cfengine.com/dev/issues/4507 }}
## Software
{{#vars.host_info_report_software.packages}}
[{{method}}] {{name}}: version {{version}}, arch {{arch}}
{{/vars.host_info_report_software.packages}}
{{/classes.show_software}}

## Policy

Information about the policy set on this host.

### Inventory

#### Variables tagged for inventory

{{%vars.host_info_report_inventory.inventory_vars}}

{{#classes.enterprise_edition}}
### Enterprise maintanance bundles available
{{#vars.cfe_internal_enterprise_maintenance.enterprise_maintenance_bundles}}
    {{{.}}}
{{/vars.cfe_internal_enterprise_maintenance.enterprise_maintenance_bundles}}
{{/classes.enterprise_edition}}
