name: Continuous Integration

on:
  # run this workflow on pull_request activity
  # this includes opening and pushing more commits
  pull_request:
    branches: [ master, 3.21.x, 3.18.x ]

jobs:
  style_check:
    uses: ./.github/workflows/style_check.yml
  tests:
    needs: style_check
    uses: ./.github/workflows/tests.yml
  valgrind:
    needs: style_check
    uses: ./.github/workflows/valgrind.yml
