on:
  workflow_call

jobs:
  acceptance_tests:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: masterfiles
      - name: Get Togethers
        uses: cfengine/together-javascript-action@main
        id: together
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout Core
        uses: actions/checkout@v3
        with:
          repository: cfengine/core
          path: core
          ref: ${{steps.together.outputs.core || github.base_ref || github.ref}}
      - name: Install CFEngine with cf-remote
        run: |
          pip3 install cf-remote
          cf-remote --version $GITHUB_BASE_REF install --clients localhost
      - name: Run autotools / configure
        run: |
          INSTDIR=$HOME/cf_install
          export INSTDIR
          cd masterfiles
          ./autogen.sh --prefix=$INSTDIR > autogen.log 2>&1
          cd ..
      - name: Prepare Artifacts for Uploading
        run: tar -zcvf /tmp/workspace.tgz ./ && mv /tmp/workspace.tgz ./
      - name: Upload The Workspace as Artifact
        uses: actions/upload-artifact@v3
        with:
          name: workspace
          path: workspace.tgz
      - name: Install Masterfiles
        run: make -C masterfiles install
      - name: Validate policy with cf-promises
        run: |
          INSTDIR=$HOME/cf_install
          export INSTDIR
          /var/cfengine/bin/cf-promises --version
          /var/cfengine/bin/cf-promises -c -I -f $INSTDIR/masterfiles/update.cf
          /var/cfengine/bin/cf-promises -c -I -f $INSTDIR/masterfiles/promises.cf
          /var/cfengine/bin/cf-promises -c -I -f $INSTDIR/masterfiles/standalone_self_upgrade.cf
      - name: Run tests
        run: |
          export BINDIR=/var/cfengine/bin # which testall will pickup and use
          make -C masterfiles -j1 check
